<div id="modal-grade" class="modal">
    <div class="modal-content">
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="img/elmo.jpg" alt="" class="circle">
          <span class="title">Fulano de Tal</span>
          <p>Parceiro: SC1515<br>
            Telefone: (11)7878-8585
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons right">warning</i><h6>Saldo: 1520 pontos</h6></a>
        </li>
        <li class="collection-item avatar">
          <img src="img/carro1.jpg" alt="" class="circle">
          <span class="title">Carro</span>
          <p>Nome do Sujeito<br>
            Telefone
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons right">check_circle</i><h6>Saldo: 11222 pontos</h6></a>
        </li>
        <li class="collection-item avatar">
          <img src="img/elmo.jpg" alt="" class="circle">
          <span class="title">Title</span>
          <p>Nome do Sujeito<br>
            Telefone
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons right">check_circle</i><h6>Saldo: 11520 pontos</h6></a>
        </li>
        <li class="collection-item avatar">
          <img src="img/carro1.jpg" alt="" class="circle">
          <span class="title">Title</span>
          <p>Nome do Sujeito<br>
            Telefone
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons right">money_off</i><h6>Saldo: 0 pontos</h6></a>
        </li>
      </ul>
    </div>
  </div>