  <div id="modal-config" class="modal">
    <div class="modal-content">
      <h4>Configurações Rapidas</h4>
      <p>Habilitar notificações BeviMais</p>
      <!-- Switch -->
      <div class="switch">
        <label>
          Não
          <input type="checkbox">
          <span class="lever blue"></span>
          Sim
        </label>
      </div>
      <p>Habilitar avisos por email</p>
      <!-- Switch -->
      <div class="switch">
        <label>
          Não
          <input type="checkbox">
          <span class="lever blue"></span>
          Sim
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" white-text modal-action modal-close waves-effect waves-green blue darken-3 btn-flat"><i class="material-icons white-text left md-48">save</i>Salvar</a>
    </div>
  </div>